body {
  font-family: Asul, sans-serif;
  /* display: flex;
  align-content: center;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
  flex-direction: column; */
}

p {
  font-size: 2.5rem;
  line-height: 3rem;
}

.idle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* margin-top: 30vh; */
  width: 75vw;
  margin: 25vh auto 0;
}

h1 {
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
}

.artwork-info {
  max-width: 70vw;
  line-height: calc(1.2 * 4.5rem);
}

.artwork-year {
  /* display: inline-block; */
  /* font-size: 3rem; */
  font-weight: 200;
}

.help {
  color: #ec394b;
}

.what {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.detail-display {
  /* margin-top: 20vh; */
  width: 75vw;
  /* animation: moveToRightIn .7s cubic-bezier(.09, 1.01, .65, .95); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 10vh auto 0;
}

.detail-title {
  margin-top: 2rem;
}

.detail-info {
  margin-top: 2.5rem;
}

.lottie {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.move-to-right-in {
  animation: moveToRightIn .7s cubic-bezier(.09, 1.01, .65, .95);
}

.move-to-right-out {
  animation: moveToRightOut .7s cubic-bezier(.09, 1.01, .65, .95);
}

.msk-logo {
  width: 10rem;
  height: auto;
  position: absolute;
  top: 1rem;
  left: -2px;
}

.language {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  height: auto;
  position: absolute;
  top: 1rem;
  right: 15px;
}

.language-flag {
  width: 8rem;
  height: auto;
}

.language-text {
  height: auto;
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
  text-transform: capitalize;
}

.detail-image {
  max-height: 35vh;
  width: auto;
}

.didyouknow {
  font-size: 2rem;
  /* text-align: center; */
}

.didyouknow_container {
  /* position:absolute; */
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80vw; */
  /* margin-top: 30vh; */

  position: absolute;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  align-items: center;
  width: 100vw;
  padding: 0 10vh;
  /* margin-top: 30vh; */
  margin: 0 auto;
  bottom: 0;
  /* bottom: -5rem; */
  transition: all .5s;
}

.tip-icon {
  margin: 3rem;
  width: 5rem;
  height: auto;
  align-self: center;
  margin-right: 3rem;
}

.icon_container {
  width: 15rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon-label {
  /* font-size: 1.7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem; */
  display: none;
}

@keyframes moveToRightIn {

  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveToRightOut {

  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(100vw);
  }
}
