body {
  font-family: Asul, sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.idle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  align-self: center;
}

h1 {
  display: inline-block;
  font-size: 4.5rem;
  font-weight: bold;
}

.artwork-info {
  max-width: 70vw;
  line-height: calc(1.2 * 4.5rem);
}

.artwork-year {
  display: inline-block;
  /* font-size: 3rem; */
  font-weight: 200;
}

.help {
  color: #d0523e;
}

.what {
  font-size: 3.5rem;
}

.detail-display {
  /* margin-top: 20vh; */
  width: 75vw;
  /* animation: moveToRightIn .7s cubic-bezier(.09, 1.01, .65, .95); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.detail-title {
  margin-top: 2rem;
}

.detail-info {
  margin-top: 4rem;
}

.lottie {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.move-to-right-in {
  animation: moveToRightIn .7s cubic-bezier(.09, 1.01, .65, .95);
}

.move-to-right-out {
  animation: moveToRightOut .7s cubic-bezier(.09, 1.01, .65, .95);
}

.msk-logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.detail-image {
  max-height: 30rem;
  width: auto;
}

@keyframes moveToRightIn {

  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveToRightOut {

  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(100vw);
  }
}
