body {
  background: black;
}

.button {
  background-color: #e7e7e7;
  border: black;
  color: #505050;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}

.button:focus {
  outline: 0;
}

.disabled {
  opacity: .3;
  cursor: not-allowed;
}

.st0 {
  fill: none;
  stroke: #4272b8;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.pot {
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
}

.but {
  width: 100%;
  margin: 0 auto;
  padding-top: 4rem;
}

.button-circle {
  stroke: #020202;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.artwork {
  height: 100vh;
  width: auto;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 2s cubic-bezier(0, .95, .51, .97);
}

.status {
  position: absolute;
}

.normal {
  transform: scale(0) translate(0);
}

.zoomed-3 {
  transform: scale(5) translate(140px, 360px);
}

.zoomed-7 {
  transform: scale(5) translate(-100px, 100px);
}

.zoomed-6 {
  transform: scale(5) translate(-200px, 250px);
}

.zoomed-5 {
  transform: scale(5) translate(-150px, 350px);
}

.zoomed-4 {
  transform: scale(5) translate(10px, 400px);
}

.zoomed-2 {
  transform: scale(5) translate(200px, 180px);
}

.zoomed-1 {
  transform: scale(5) translate(100px, 120px);
}

.video--macro {
  border: 2px solid transparent;	  height: 100vh;
  width: auto;
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: opacity 3s;
}	}

/* .indicator {
  margin: 0 auto;
  width: 6rem;
  padding-top: 2rem;
} */

.indicator {
  background: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.indicator_active {
  /* background: white; */
  /* animation: border 4s infinite ease-in-out; */
  border-top: 2px solid red;
  border-left-width: 2px;
  border-right-width: 2px;
  transform: rotate(270deg);
  transition: border-left-width 0s linear .35s, -webkit-transform .4s linear 0s;
  transition: transform .4s linear 0s, border-left-width 0s linear .35s;
  transition: transform .4s linear 0s, border-left-width 0s linear .35s, -webkit-transform .4s linear 0s;
  animation: border-animation 4s infinite ease-in-out;
}

/* .indicator_active::before {
  border: 2px solid transparent;
}

.indicator_active::after {
  border: 0 solid transparent;
} */

.indicator_idle {
  animation: scale 4s infinite ease-in-out;
}

@keyframes border-animation {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(.8);
  }

  100% {
    transform: scale(1);
  }
}
