/* // TODO font kiezen en inladen */

body {
  background: black;
  font-family: sans-serif;
}

.button {
  background-color: #e7e7e7;
  border: black;
  color: #505050;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}

.button:focus {
  outline: 0;
}

.disabled {
  opacity: .3;
  cursor: not-allowed;
}

.st0 {
  fill: none;
  stroke: #4272b8;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.pot {
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
}

.but {
  width: 100%;
  margin: 0 auto;
  padding-top: 4rem;
}

.button-circle {
  stroke: #020202;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.artwork {
  height: 100vh;
  width: auto;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 1.5s cubic-bezier(0, .95, .51, .97);
}

.artwork_frame {
  height: 100vh;
  width: auto;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.indicators {
  width: 100vw;
  height: 100vh;
}

.status {
  position: absolute;
}

.video--macro {
  border: 2px solid transparent;
  height: 100vh;
  width: auto;
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: opacity 3s;
}

.indicator {
  position: absolute;
  background: white;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  z-index: 5;
  transition: all .3s easy-ease;
}

.indicator_active {
  border-top: 2px solid red;
  border-left-width: 2px;
  border-right-width: 2px;
  /* transform: rotate(270deg); */
  transition: border-left-width 0s linear .35s, -webkit-transform .4s linear 0s;
  transition: transform .4s linear 0s, border-left-width 0s linear .35s;
  transition: transform .4s linear 0s, border-left-width 0s linear .35s, -webkit-transform .4s linear 0s;
  /* animation: border-animation 4s infinite ease-in-out; */
  z-index: 5;
}

.indicator--information {
  position: absolute;
  width: 100vw;
  bottom: 10rem;
  text-align: center;
  color: white;
  font-size: 4rem;
  font-family: sans-serif, Roboto;
}

.indicator_idle {
  /* animation: scale 4s infinite ease-in-out; */
}

/* @keyframes border-animation {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(.8);
  }

  100% {
    transform: scale(1);
  }
} */

.connect {
  background: white;
  background: rgba(255, 255, 255, .9);
  border-radius: 4rem;
  z-index: 200;
  position: absolute;
  bottom: 2rem;
  font-size: 2.5rem;
  padding: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
